body{
    background-color: #d496a7;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 8px 10px;
    background-color:#8a89c0 ;
    border-style: none;
    color: #d496a7;
}

input{
    height: 30px;
}